.video-card {
  width: 23%;
  height: 250px;
  margin-bottom: 40px;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .video-card-thumbnail {
    height: 70%;
    width: 100%;
  }

  .video-card__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
  }

  @media screen and (max-width: 1455px) {
    width: 30%;
  }

  @media screen and (max-width: 768px) {
    width: 45%;
  }

  @media screen and (max-width: 767px) {
    width: 45%;
    padding-left: 2%;
  }

  @media screen and (max-width: 414px) {
    width: 90%;
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
  }
}
